-e git+git@gitlab.benda.com:omerbenda/omer-content-aggregator.git@7ae7d3a47346ec6fa43926f1961e04611795a7c5#egg=mongo_inserter_omerbenda&subdirectory=mongo-inserter
mongoengine==0.20.0
pymongo==3.11.0
